<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <title>JSMetrics</title>
		 <link rel="stylesheet" href="../html/style.css">
	</head>
	<body>
	    <div id="main">
			 <h1 v-if="metrics!=null">{{fileFromPath(metrics.files.path)}}</h1>
	   	<package style="margin-left:25px" v-if="metrics!=null" v-bind:file-data="metrics.files"></package><br>
	    </div>
	</body>
</html>
<script type="text/javascript" src="../libs/vue.js"></script>
<script type="text/javascript">
	const { ipcRenderer } = require('electron');

	var mainApp = new Vue({
		el: '#main',
		data: {
			metrics: null
		},
		created: function(){
			ipcRenderer.send('menu');
		},
		methods: {
			fileBrowse: function () {
				ipcRenderer.send('selectDirectory');
			},
			fileFromPath:function(fullPath){
				return fullPath.replace(/^.*[\\\/]/, '');
			}
		}
	});


	Vue.component('package', {

		props:["file-data"],
		data: function(){
			return {
				expanded:[]
			}
		},

		template: `
			<div >
				<div v-for="(value, name) in fileData.files" >

					<div v-if='typeof value=="string"'><span>{{value}}</span></div>
					<div v-else-if='typeof value=="object"'>
						<b><span v-on:click="if(Object.keys(value.files).length>0)expandFolder(value.path)">{{fileFromPath(value.path)}} ({{Object.keys(value.files).length}})</span></b>
						<package style="margin-left:25px"v-if="expanded.includes(value.path)" v-bind:file-data="value"></package>
					</div>

				</div>
			</div>
		`,
		methods: {
			fileFromPath: function(fullPath){
				return fullPath.replace(/^.*[\\\/]/, '');
			},
			expandFolder: function(file){
				if(this.expanded.includes(file)){
					this.expanded.splice(this.expanded.indexOf(file), 1);
				}else{
					this.expanded.push(file);
				}
			}
		}
	})



	ipcRenderer.on('metrics', (event, arg) => {
		console.log(arg);
  		mainApp.metrics = arg;
	});
</script>
