body{
   background-color: #292929;

   font-family: Roboto;
   padding: 0px;
   margin: 0px;
   overflow: hidden;
   color: #212121;
   /*#26a69a*/
}
hr{
   border: 10px solid green;
   border-radius: 5px;
   flex: 1;
}

.bubble{
   background-color: #1e1e1e;
   width: 100px;
   height: 100px;
   padding: 10px;
   float:left;
   margin:10px;
   border-radius: 5px;
}

.long{
   width:200px;
   height: 80px;
}

.packageViewer{
   background-color: #332940;

   grid-column: 1;
   grid-row: 1/5;
   user-select: none;


   color: white;


}

.fillHeight{
   display: flex;
   flex-direction: column;

}

.appHeading{
   padding: 20px;
   background-color: #1e1e1e;
}

.about{
   max-width:40%;
   float: none;
}

.appHeading2{
   padding: 20px;

   background-color: #241b2d;
}


.metricsViewer{

   grid-column: 2/5;
   grid-row: 1/5;

   color: white;
   opacity: 0.7;


}

.autoSize{
   width: auto;
   height: auto;
}

.metricsContent{

   flex: 1;
   overflow-x: hidden;
   padding: 10px;
   padding-left: 25px;
}

.packageViewer .file, .packageViewer .folder{
   margin-top: 5px;

}


.packageViewer .folderItem:hover{
   cursor: pointer;
}

h1{

   padding: 0px;
   margin: 0px;
}

.app{

   display: grid;
   width: 100%;
   height: 100vh;
   grid-auto-columns: 25% 25% 25% 25%;
   grid-template-rows: 25% 25% 25% 25%;
}
