body{
   background-color: #292929;

   font-family: Roboto;
   padding: 0px;
   margin: 0px;
   overflow: hidden;
   color: #212121;
   /*#26a69a*/
}
hr{
   border: 10px solid green;
   border-radius: 5px;
   flex: 1;
}

.bubble{
   background-color: #1e1e1e;
   width: 100px;
   height: 100px;
   padding: 10px;
   float:left;
   margin:10px;
   border-radius: 5px;
}

.long{
   width:200px;
   height: 80px;
}

.fullRight{
   grid-column: 1;
   grid-row: 1/5;
}

.packageViewer{
   background-color: #332940;

   /*
   grid-column: 1;
   grid-row: 1/5;*/
   user-select: none;


   color: white;


}

.fillHeight{
   display: flex;
   flex-direction: column;

}

.appHeading{
   padding: 20px;
   background-color: #1e1e1e;
}

.about{
   max-width:40%;
   float: none;
}

.appHeading2{
   padding: 20px;

   background-color: #241b2d;
}

a{
    text-decoration: underline;
}

a:hover{
   cursor: pointer;
}

.full{
   grid-column: 2/4;
   grid-row: 1/5;
}



.halfLeft{
   grid-column: 2/3;
   grid-row: 1;
   grid-row-end: 5;
}

.halfRight{
   grid-column: 3/4;
   grid-row: 1;
   grid-row-end: 5;
}

.pullUp{
   grid-row-end: 3;
}


.bottomFull{
   grid-column: 2/4;
   grid-row: 3/5;
}

.metricsViewer{



   color: white;
   opacity: 0.7;


}

.barGraphText{
   opacity: 0.5;
   font-size: 12px;

}

.barGraphLine{
   border-left: 2px dotted white;
   opacity: 0.5;

}

.barGraphHeadingText{

   z-index: 111;
}

.barGraphBar{

   margin-top: 3px;
   opacity:1;
   color: #bb86fc;
   background-color:#bb86fc;
   z-index: 100;

}

/*
.barGraphLines{
   position: absolute;
   z-index: -1;
   top: 22px;
   left: 16px;
   width: 50%;
   height: 80%;
   opacity: 0.3;
   border-left: 2px dotted white;
   width: 16px;
   font-size: 12px;
}*/

.barGraphOverlay{
   position: absolute;

   top: 0px;
   left: 20px;
   z-index: -1;
   width:85%;
   height: 100%;


}



.barGraphContent{
   display: grid;

   grid-template-columns: repeat(20, 5%);
   grid-template-rows: repeat(20, 5%);


   /*

   20 = 100 %
   10 = 50 %

   grid-auto-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
   grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
*/
   width: 100%;
   height: 100%;
}


.weak{
   opacity:0.2;

}

.autoSize{
   width: auto;
   height: auto;
}

.metricsContent{

   flex: 1;
   overflow-x: hidden;

   padding: 10px;
   padding-left: 25px;
}

.packageViewer .file, .packageViewer .folder{
   margin-top: 5px;

}


.packageViewer .folderItem:hover{
   cursor: pointer;

}

h1{

   padding: 0px;
   margin: 0px;
}

.app{

   display: grid;
   width: 100%;
   height: 100vh;
   grid-auto-columns: 20% 40% 40%  ;
   grid-template-rows: 25% 25% 25% 25%;
}
