body{
   background-color: #ffffff;

   font-family: Roboto;
   padding: 0px;
   margin: 0px;
   overflow: hidden;
   color: #212121;
   /*#26a69a*/
}

.packageViewer{
   background-color: #eeeeee;

   grid-column: 1;
   grid-row: 1/5;
   padding: 10px;


}

.fillHeight{
   display: flex;
   flex-direction: column;

}

.metricsViewer{
   background-color: white;
   grid-column: 2/5;
   grid-row: 1/5;
   padding: 10px;

   background-color: red;


}

.classData{

   flex: 1;
   overflow-x: hidden;
   background-color: blue;

}

.packageViewer .file, .packageViewer .folder{
   margin-top: 5px;
   color:red;

}


.packageViewer .folderItem:hover{
   cursor: pointer;
}

h1{
   padding: 0px;
   margin: 0px;
}

.app{
   display: grid;
   width: 100%;
   height: 100vh;
   grid-auto-columns: 25% 25% 25% 25%;
   grid-template-rows: 25% 25% 25% 25%;
}
